@import url(LayoutStyles.css);

.panel {
  max-width: 80%;
  margin: 0 auto;
}

div.container {
  display: flex;
  justify-content: space-between;
}

#secondary {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#container2 {
  width: 45%;
  align-self: center;
  display: inline-block;
}

#container3 {
  width: 45%;
  align-self: center;
  display: inline-block;
}

.gauge-charts {
  display: flex;
  max-width: 100%;
  background-color: var(--main_color);
}

.actuator-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.actuator-panel > .act-heater {
  color: orangered;
}

.actuator-panel > .act-lights {
  color: rgb(239, 213, 16);
}

.actuator-panel > .act-vents {
  color: turquoise;
}

.actuator-panel > .act-fan {
  color: rgb(64, 131, 224);
}

.actuator-panel > .act-water {
  color: rgb(26, 26, 121);
}

.actuator-panel > i {
  font-size: 3rem;
  padding: 15px;
}
