.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.register-form {
  border: 1px solid black;
  padding: 30px;
  width: 30%;
  max-width: 800px;
  min-width: 400px;
}

h3 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
