:root {
  --main_color: #6bbf59;
  --main_header_footer: #4f9a45;
  --text: #116a05;
  --sub_color: #d9d9d9 /*228b22*/;
  --accent: #ffd700;
  --off_white: #ffddff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

thead tr {
  background-color: var(--text);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: var(--sub_color);
}

tbody tr:nth-child(odd) {
  background-color: var(--main_header_footer);
}

tbody tr:hover {
  background-color: var(--off_white);
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}
